@model IEnumerable<BigSchool.Models.Course>

@{
    ViewBag.Title = "Mine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mine</h2>
<div>
    @Html.ActionLink("Create", "Create")
</div>
    <ul class="course">
        @foreach (var Course in Model)
        {
            <li>
                <div class="date">
                    <div class="month">
                        @Course.DateTime.ToString("MM")
                    </div>
                    <div class="day">
                        @Course.DateTime.ToString("dd")
                    </div>
                </div>
                <div class="details">
                    <span class="lecture">
                        @Course.LecturerName
                    </span>
                    <span class="category">
                        @Course.Category.Name
                    </span>
                </div>
                <div class="action" style="left: 70px; position: absolute;">
                    @Html.ActionLink("Edit", "Edit", new { id = Course.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = Course.Id })
                </div>
            </li>
        }
    </ul>

</table>
